%button {
  font-size: inherit;
  border-radius: 7px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: silver;
  color: white;
  text-decoration: none;
  border: none;
  margin: 20px;
}
